.book-form {
    margin: 20px;
    padding: 20px;
    position: relative; 
}

.book-form h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.book-form .form-group {
    margin-bottom: 15px;
}

.book-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.book-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.book-form .error {
    color: red;
    font-size: 0.875em; 
    display: block; 
    margin-top: 0.25em;
}

.book-form .form-group {
    margin-bottom: 1em;
}

.book-form input:invalid {
    border-color: red; 
}



.book-form button {
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.book-form button.error-disabled{
    background-color:gray;
    cursor: not-allowed;
}

.book-form button.error-disabled:hover{
    background-color:gray;
}

.book-form button:hover {
    background-color: #4cae4c;
}

.book-form .floating-back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #0275d8;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.book-form .floating-back-button:hover {
    background-color: #025aa5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.book-form .floating-back-button svg {
    margin: 0; 
    fill: currentColor;
}
